<% if logged_in? %>
  <div class="row-fluid">
    <div class="col-md-11 col-md-offset-1">
      
    
    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
    <div class="col-md-7">
      <!-- <h3>Micropost Feed</h3> -->
      <%= render 'shared/feed' %>
    </div>
    </div>
  </div>
<% else %>
  <div class= "center jumbotron">
    <h1>Welcome to the Sample App</h1>
    <h2>
      This is the home page for the
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>


<% end %>