<% if @activities.any? %>
  <ul class="list-group newsfeed" id="current-user-<%= current_user.id %>">
    <li class="list-group-item">
      <div class="form-group has-feedback post-create-form-container">
        <!-- <label class="control-label" for="inputSuccess2">Input with success</label> -->
        <input type="text" class="form-control post-create-form-input" id="inputSuccess2" aria-describedby="inputSuccess2Status">
        <i class="icon-social-instagram icons form-control-feedback post-create-form"></i>
        <!-- <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span> -->
        <span id="inputSuccess2Status" class="sr-only">(success)</span>
      </div>
    </li>
    <li class="list-group-item text-center">
      View 12 New Tweets
    </li>
    <% for activity in @activities %>
      <% if activity.subject_type == "Micropost" %>
        <%= render partial: 'microposts/micropost',
                      locals: { micropost: activity.subject,
                                user: false} %>
      <% elsif activity.subject_type == "Retweet" %>
        <%= render partial: 'microposts/micropost', 
                      locals: { micropost: activity.subject.micropost,
                                user: activity.subject.user
                              } %>
      <% else %>
      <% end %>
    <% end %>
  </ul>
  <%= will_paginate @activities %>
<% end %>
