@import "bootstrap-sprockets";
@import "bootstrap";



/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.navbar-custom {
  border-bottom: #ccc 1px solid;
}

a {
  color: #1B95E0;
}

/* universal */

body {
  background-repeat: no-repeat;

  // background-image: url(image-path('bg.png'));
  background-attachment: fixed;
  // background-color: #C0DEED;
}

.post-create-form {
  margin-top: 8px;
  font-size: 18px;
}

input.post-create-form-input {
  margin-bottom: 0px !important;
}

.post-create-form-container {
  margin-bottom: 0px !important;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}


.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}


h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}


h2 {
  font-size: 1.2em;
  letter-spacing: 0px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}


P {
  font-size: 1.1em;
  line-height: 1.7em;
}

.live {
  background: #e0245e;
  color: #fff;
  padding: 5px;
  padding-right: 7px;
  padding-left: 7px;
  border-radius: 4px;
}


/* header */

.bs-docs-header {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 24px;
  text-align: left;
}

.bs-docs-header {
  margin-bottom: 40px;
  font-size: 20px;
}

.bs-docs-header, .bs-docs-masthead {
  position: relative;
  padding: 30px 0;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #6f5499;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
  background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
  background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
  background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  background-repeat: repeat-x;
}

input {
  // width: 300px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.search-input-field {
  width: 300px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.search-form input {
  border-right: none !important;
}

.search-form button {
  border-left: none !important;
}

.search-form button:hover {
  background: none !important;
}

#logo {
  // margin-left: 20px !important;
  font-size: 1.7em;
  // color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}


#logo::hover {
  color: #000;
  text-decoration: none;
}

/* make home bar not overlap with logo when in 'xs' bootstrap sizing */
.logo_float {
  float: left;
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777
  a {
    color: #555;
  }

  a:hover {
  color: #222;
  }

  small {
  float: left;
  margin-left: 15px;
  }

  ul {
  float: right;
  list-style: none;
  }

  ul li {
  float: left;
  margin-right: 15px;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom:  3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}


/* Favorites and retweets */

.glyphicon {
  color: #ccd6dd;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.retweeted-glyph {
  font-size: 14px;
  color: white;
  background: #17bf63;
  // border: solid;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 5px;
  margin-left: 53px;
  margin-right: 4px

}

.tweet-action-tools li i {
  font-size: 16px;
}

.tweet-action-tools li a {
  color: #657786;
}

ul.newsfeed li:first-child {
  background: #E6ECF0 !important;
}


.tweet-action-tools span {
  color: #657786;
}

ul.tweet-action-tools li:first-child {
  background: none !important;
}

.tweet-action-tools {
  margin-top: 5px;
}


.tweet-action-tools li {
  margin-right: 15px;
}

.retweeter {
  display: float;
  color: #8899a6;
}


.retweet {
  color: #657786 !important;
}
.favorite {
  color: #657786;
}

.fav-count {
  // margin-right: 15px
}

.rt-count {

}


.retweeted, .retweet:hover {
  color: #17bf63 !important;
  cursor: pointer;
}
.favorited, .favorite:hover {
  color: #ffac33 !important;
  cursor: pointer;
}

.tweet-actions {
  display: inline-block;
  margin-left: -8px
}





.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 2px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


#error_explanation {
  color: red;
  u1 {
  color: red;
  margin: 0 0 30 px 0;
  }
}


.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    a:first-child {
      padding-left: 0;
      border: 0;
    }
    a:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


/* Users index */

.users {
  list-style: none;
  margin: 5px;
  padding: 15px;
  li {
    overflow: auto;
    padding: 10px 0;
    padding-left: 20px;
    border-bottom: 1px solid $gray-lighter;
  }
}




/* microposts */


.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    word-wrap: break-word;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .picture {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.profile-card, .feed-card {
  padding-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* white backgrounds */
.feed-card, .profile-card, .users, .help {
  background: #FFF;
  border-radius: 6px;
}

.jumbotron {
  background-color: #FFF;
}



.help {
  padding-right: 5px;
  padding-left: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
}


.warning {
  color: darkred;
}

.error {
  color: red;
}

/* remaining counter */

.counter {
  margin-left: 0px;
}


/* navbar overlap fix, better than body padding as recommended by twttr */

.navbar-fixed-top {
  position: relative;
  top: auto;
}